* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: darkgray;
    font-size: 21px;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: hotpink;
}

header img {
    border-radius: 50%;
    height: 25%;
    width: 25%;
    margin: 20px;
}

header h1 {
    margin: 0;
}

header ul {
    display: inline-flex;
    list-style: circle;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header ul li {
    margin: 20px;
    text-align: center;
}

/******************************/
/*##### FAVOURITE COLOUR #####*/
/******************************/
.favColor {
    background-color: #400729;
    margin: 20px auto;
}

.favColor p {
    width: 90%;
}

/******************************/
/*##### FAVOURITE ANIMAL #####*/
/******************************/
.favAnimal {
    margin: 20px auto;
}

.favAnimal p {
    width: 60%;
}

/******************************/
/*##### FAVOURITE SPORT #####*/
/******************************/
.favSport {
    margin: 20px auto;
    background-color: #400729;
}

.favSport p {
    width: 90%;
}

/*********************************/
/*##### FAVOURITE CHARACTER #####*/
/*********************************/
.favCharacter {
    margin: 20px auto;
}

.favCharacter p {
    width: 60%;
}

/*********************************/
/*##### FAVOURITE CELEBRITY #####*/
/*********************************/
.favCeleb {
    margin: 20px auto;
    background-color: #400729;
}

.favCeleb p {
    width: 90%;
}

/**************************/
/*##### JS CHALLENGE #####*/
/**************************/
.challenge {
    margin: 20px auto;
}

.challenge p {
    width: 90%;
}

.gameField {
    width: 75%;
    height: 500px;
    border: 1px solid hotpink;

}

/**********************/
/*##### PICTURES #####*/
/**********************/
.animalPicture {
    background-image: url("images/cat.gif");
    width: 150px;
    height: 150px;
}

.sportPicture {
    background-image: url("images/run-like-naruto.gif");
    width: 480px;
    height: 270px;
}

.characterPicture {
    background-image: url("images/naruto.gif");
    background-size: 250px 250px;
    width: 250px;
    height: 250px;
}

.celebrityPicture {
    background-image: url("images/chris.gif");
    width: 480px;
    height: 270px;
}